{
  "WebUrl": "https://domain.com",
  "Address": "",
  "Port": 8080,
  "ApiPrefix": "",
  "KeyFile": "",
  "CertFile": "",
  "DatabaseAddress": "tcp(127.0.0.1:3306)",
  "Database": "openaccounting",
  "User": "openaccounting",
  "Password": "openaccounting",
  "MailgunDomain": "mg.domain.com",
  "MailgunKey": "",
  "MailgunEmail": "noreply@domain.com",
  "MailgunSender": "Sender"
}
